footer {
    padding: 30px;
    background-color: $dark-bg;
    h2 {
        font-size: 35px;
        font-weight: 700;
        color: $white;
        margin-bottom: 20px;
        span {
            text-transform: capitalize;
        }
    }
    .italic {
        font-size: 15px;
        color: $white;
        font-style: italic;
        text-align: center;
        margin-bottom: 20px;
    }
    .social {
        gap: 10px;
        margin-bottom: 20px;
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $green;
            i {
                font-size: 20px;
                color: $white;
            }
            &:hover {
                background-color: $l-green;
            }
        }
    }
    .copy {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 15px;
        a {
            font-weight: 600;
            color: $white;
            &:hover {
                color: $green;
            }
        }
    }
    .coder {
        font-size: 15px;
        font-weight: 400;
        color: $white;
        text-transform: capitalize;
        text-align: center;
        a {
            font-weight: 600;
            color: $green;
            &:hover {
                color: $l-green;
            }
        }
    }
    .go-up {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        background-color: $green;
        opacity: 0;
        i {
            color: $white;
        }
        &:hover {
            background-color: $l-green;
        }
    }
}