header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1111;
    padding: 15px 0;
    //background-color: $bg-cover;
    height: 72px;
    .container {
        gap: 20px;
        .logo {
            a {
                font-family: $h-family;
                span {
                    text-transform: capitalize;
                    font-size: 30px;
                    font-weight: 600;
                    color: $white;
                }
            }
        }
        nav {
            @media (min-width: 922px) {
                display: block !important;
                .close-nav {
                    display: none !important;
                }
                ul {
                    li {
                        a {
                            display: block;
                            width: fit-content;
                            position: relative;
                            color: $link-g !important;
                            &::before {
                                content: "";
                                height: 2px;
                                background-color: $green;
                                width: 0;
                                position: absolute;
                                left: 0;
                                top: 46px;
                                transition: .3s;
                            }
                            &:hover, &.active {
                                color: $white !important;
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 921px) {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 60px 20px;
                background-color: $bg-cover;
                .close-nav {
                    position: absolute;
                    right: 25px;
                    top: 20px;
                }
                ul {
                    flex-direction: column;
                    padding: 30px;
                    background-color: $white;
                    border-radius: 3px;
                    width: 100%;
                    height: 100%;
                }
            }
            .close-nav {
                cursor: pointer;
                i {
                    font-size: 16px;
                    color: $white;
                }
            }
            ul {
                display: flex;
                gap: 20px;
                li {
                    a {
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: capitalize;
                        color: $dark-t;
                        &:hover, &.active {
                            color: $green;
                        }
                    }
                }
            }
        }
        .get-started {
            @media (max-width: 921px) {
                margin-left: auto;
            }
            a {
                background-color: $green;
                color: $white;
                &:hover {
                    background-color: $l-green;
                }
            }
        }
        .open-nav {
            @media (min-width: 922px) {
                display: none !important;
            }
            cursor: pointer;
            i {
                font-size: 16px;
                color: $link-g;
            }
        }
    }
}